@model OrderCredentials

<h1>Thank you for your purchase: </h1>
<h4>@Model.Name @Model.Surname</h4>
<h1>Your order will be sent to: </h1>
<h4>@Model.Address</h4>
<h1>Payment method: </h1>
<h4>@Model.PaymentMethod</h4>